my.heading{text-align: center;
			font-weight: bold;}
body {background-image: url(http://www.intrawallpaper.com/static/images/Silver-Blur-Background-Wallpaper.jpg);}
h1{font-family: 'Luckiest Guy', cursive;
	color: maroon;}