.container{
	width:500px;
	margin-left: auto;
	margin-right: auto;

}

.right,
.left{width.200px;
	float:left;
}

p{background: img srhttp://feelgrafix.com/data/background/background-1.jpg}
h1{
	color:red;
	font-size:30px;
	font:Arial;
	text-align: center;}
div{
	font-size: 21px;
	font-family: "Helvetica Neue, Arial, sans-serif"
	margin-left:auto;
	margin-right: auto;
	text-align: left;}
	background
.second{background: white
	font-family: "Helvetica Neue, Arial"
	margin-left:auto;
	margin-right: auto;
	text-align: left;}